<div class="bigups">
	<div class="bigup bubble clear">
		<div class="bigup_content">
			<% if bigup.pic.file? %>
				<div class="pic" style="background-image:url(<%= bigup.pic.url(:large) %>)">
					<%= link_to(bigup.pic.url) do %>
						<%= image_tag bigup.pic.url(:large) %>
					<% end %>
				</div>
			<% end %>
			<div class="title">
				<%= link_to raw("&hearts;"), "/#{Spool.find(bigup.spool_id).id}/#{bigup.id}" %>
				<%= display bigup.title %>
			</div>
			<div class="name">
				<%= display bigup.name %>
			</div>
			<% unless bigup.content.empty? %>
				<div class="comment"><%= raw(bigup.content) %></div>
			<% end %>
			<div class="timestamp">
				<%= time_ago_in_words(bigup.created_at) %> ago.
			</div>
		</div>
		<div class="bigup_controls">
			<%= link_to image_tag("not_easy.png", :id => 'thumbs_down'),
					[Spool.find(bigup.spool_id), bigup],
					:title => "Delete post",
					:method => :delete,
					:confirm => "Really remove this post?"
			%>
		<%= facebook_little_like "#{CGI::escape(request.host)}/#{Spool.find(bigup.spool_id).id}/#{bigup.id}" %>
		</div>
	</div>
</div>
