<tr>
  <td class="bigup">
    <span class="title"><%= h bigup.title %></span>
    <span class="name"><%= h bigup.name %></span>
    <% unless bigup.pic == nil %>
      <span class="pic"><%= image_tag bigup.pic.url %></span>
    <% end %>
      <span class="content"><%= display wrap bigup.content %></span>
      <span class="timestamp">Posted <%= time_ago_in_words(bigup.created_at) %> ago.</span>
  </td>
</tr>
