<tr>
  <td class="bigup">
    <span class="title"><%= h bigup.title %></span>
    <span class="name"><%= h bigup.name %></span>
    <% unless bigup.pic == nil %>
      <span class="pic">
        <% link_to(bigup.pic.url) do %>
          <%= image_tag bigup.pic.url(:large) %>
        <% end %>
      </span>
    <% end %>
      <span class="comment"><%= display wrap bigup.content %></span>
      <span class="timestamp">Posted <%= time_ago_in_words(bigup.created_at) %> ago.</span>
  </td>
</tr>
