<tr>
  <td>
    <%= h bigup.title %>
  </td>
  <td>
    <%= h bigup.name %>
  </td>
  <% unless bigup.pic == nil %>
    <td>
      <%= image_tag bigup.pic.url %>
    </td>
  <% end %>
  <td>
    <%= display wrap bigup.content %>
  </td>
  <td>
    Posted <%= time_ago_in_words(bigup.created_at) %> ago.
  </td>
</tr>
