<%= b.error_messages %>
<div class="field">
  <%= b.label :title %><br />
  <%= b.text_field :title %>
</div>
<div class="field">
  <%= b.label :name %><br />
  <%= b.text_field :name %>
</div>
<div class="field">
  <%= b.label :content %><br />
  <%= b.text_area :content %>
</div>
