<a name="reply"></a>
<%= form_for [@spool, @bigup], :html => {:multipart => true} do |b| %>
  <%= b.error_messages %>
    <div class="field">
			<%= b.text_field :title %>
    </div>
    <div class="field">
			<%= b.text_field :name %>
    </div>
    <div class="field">
			<%= b.text_area :content %>
    </div>
    <div class="field">
			<%= b.file_field :pic %>
    </div>
    <div class="field">
			<%= b.submit "reply" %>
    </div>
<% end %>
