<a name="reply"></a>
<%= form_for [@spool, @bigup], :html => {:multipart => true} do |b| %>
  <%= b.error_messages %>
    <div class="field">
    <%= b.label :title %>
    <%= b.text_field :title %>
    </div>
    <div class="field">
    <%= b.label :name %>
    <%= b.text_field :name %>
    </div>
    <div class="field">
    <%= b.label(:content, "Comment") %>
    <%= b.text_area :content %>
    </div>
    <div class="field">
    <%= b.label :pic %>
    <%= b.file_field :pic %>
    </div>
    <div class="field">
    <%= b.submit "reply" %>
    </div>
<% end %>
