<div class="bigup_form">
<h2>hey</h2>
<% form_for @new_bigup, :html => {:multipart => true} do |b| %>
  <%= b.error_messages %>
  <p>
    title
    <%= b.text_field :title %>
  </p>
  <p>
    name
    <%= b.text_field :name %>
  </p>
  <p>
    comment
    <%= b.text_area :content %>
  </p>
  <p>
    <%= b.file_field :pic %>
  </p>
  <p><%= b.submit "post" %></p>
<% end %>
</div>
