<div class="bubble">
  <div class="spool_form">
    <h1>hey</h1>
    <%= form_for @new_spool, :html => {:multipart => true} do |f| %>
      <%= f.fields_for :bigups do |b| %>
        <%= b.error_messages %>
          <div class="field">
          <%= b.label :title %>
          <%= b.text_field :title %>
          </div>
          <div class="field">
          <%= b.label :name %>
          <%= b.text_field :name %>
          </div>
          <div class="field">
          <%= b.label(:content, "Comment") %>
          <%= b.text_area :content %>
          </div>
          <div class="field">
          <%= b.label :pic %>
          <%= b.file_field :pic %>
          </div>
      <% end %>
      <div class="field">
      <%= f.submit "post" %>
      </div>
    <% end %>
  </div>
</div>
