<div id="spool_form">
	<%= form_for @new_spool, :html => {:multipart => true} do |f| %>
		<%= f.fields_for :bigups do |b| %>
			<%= b.error_messages %>
			<div class="field">
				<%= b.text_field :title %>
			</div>
			<div class="field">
				<%= b.text_field :name %>
			</div>
			<div class="field">
				<%= b.text_area :content %>
			</div>
			<div class="field">
				<%= b.file_field :pic %>
			</div>
		<% end %>
		<span class="mover"><%= image_tag('tool_s.png', :class => 'tool little_tool', :title => 'Move') %></span>
		<span class="listener"><a href="javascript:play(92775,0,0,0);" title="Listen"><%= image_tag('jukebox.png', :id => 'jukebox') %></a></span>
		<div class="field">
			<%= f.submit "post" %>
		</div>
	<% end %>
</div>
