<!DOCTYPE html>
<html>
<head>
	<title><%= raw(title) %></title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<%= stylesheet_link_tag 'application' %>

	<%= render 'layouts/ga' %>

	<%= javascript_include_tag 'application' %>

	<%= csrf_meta_tag %>
</head>
<body>

	<div id="container">
		<div id="header_bubble">
			<h1 style="float:left;"><%= link_to "bigchan", root_path %></h1>
			<h1><%= print flash[:success] %></h1>
			<h1 style="float:right;"><a target="_blank" href="http://fortchan.org/">fortchan</a></h1>
		</div>

		<div style="clear:both;"></div>

		<% flash.each do |key, value| %>
			<%= content_tag(:div, value, :class => "flash #{key}") %>
		<% end %>

		<%= yield %>

		<%= debug(params) if Rails.env.development? %>
	</div>

</body>
</html>
